<% layout('layout/boilerplate') %> 

    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT<%  %>  " method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" value="<%= campground.title %>" required >
                </div>
                <div class="mb-3">
                    <label class="form-label"for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" value="<%= campground.location %>" required >
                </div>
                <div class="mb-3">
                    <label class="form-label"for="image">Add More Images</label>
                    <input class="form-control" type="file" id="image" name="image" required multiple >
                </div>
                <div class="mb-3">
                    <label class="form-label"for="price">Campground Price</label>
                    <div class="input-group ">
                        <span class="input-group-text" id="price-label">$</span>
                        <input id="price" type="text" class="form-control" name="campground[price]"placeholder="0.00"  required aria-label="price" aria-describedby="price-label" value="<%= campground.price %>" >
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label"for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]" required ><%= campground.description %></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Update Campground</button>
                    <a href="/campgrounds/<%= campground._id %> " class="btn btn-danger">Cancel</a>

                </div>
            </form>
        </div>
    </div>