<% layout('layout/boilerplate') %> 

<h1>All Campgrounds</h1>
    <div>
        <a href="/campgrounds/new">Add Campground</a>
    </div>

    <!-- LOOP OVER CAMPGROUNDS PASSED IN FROM app.js TO DISPLAY -->
    <% for(let campground of campgrounds) {%> 
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.images.length) {%> 
                        <img src="<%= campground.images[0].url %> " alt="<%= campground.title %> style="max-height: 200px;" class="img-fluid">
                    <% } else {%> 
                        <img src="https://images.unsplash.com/photo-1551632811-561732d1e306?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aGlraW5nfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="<%= campground.title %> style="max-height: 200px;" class="img-fluid">
                    <% } %> 

                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="card-title">
                            <h5><%= campground.title %> </h5>
                            <p class="card-text"><%= campground.text %> </p>
                            <p class="card-text">
                                <small class="text-muted"><%= campground.description %></small>    
                            </p>
                            <a href="/campgrounds/<%= campground._id %> " class="btn btn-primary">View <%= campground.title %> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } %> 
